<h1>Las Palmeritas Restaurant</h1>
<h2>Pedido</h2>
<%= link_to  "Hacer un Pedido", orders_path %>
<h2>Platos</h2>
<%= link_to  "Ver la carta", dishes_path %>
<h2>Ventas</h2>
<p>Estadisticas de las ventas</p>
